.gradient-bg-darkgray {
    background-image: linear-gradient(to top right, #374151, #111827);
    --tw-gradient-from: #374151;
    --tw-gradient-to: rgb(55 65 81 / 0);
    --tw-gradient-stops: #374151, #111827;
    --tw-gradient-to: #111827;
}

.gradient-bg-green-to-teal {
    background-image: linear-gradient(to bottom right, #22c55e, #0d9488);
    --tw-gradient-from: #22c55e;
    --tw-gradient-to: rgb(34 197 94 / 0);
    --tw-gradient-stops: #22c55e, #0d9488;
    --tw-gradient-to: #0d9488;
}

.gradient-bg-blue-to-purple {
    background-image: linear-gradient(to bottom right, #3b82f6, #9333ea);
    --tw-gradient-from: #3b82f6;
    --tw-gradient-to: rgb(59 130 246 / 0);
    --tw-gradient-stops: #3b82f6, #9333ea;
    --tw-gradient-to: #9333ea;
}

.gradient-bg-red-to-orange {
    background-image: linear-gradient(to bottom right, #ef4444, #ea580c);
    --tw-gradient-from: #ef4444;
    --tw-gradient-to: rgb(239 68 68 / 0);
    --tw-gradient-stops: #ef4444, #ea580c;
    --tw-gradient-to: #ea580c;
}

.gradient-bg-blue-to-teal {
    background-image: linear-gradient(to bottom right, #3b82f6, #1e40af);
    --tw-gradient-from: #3b82f6;
    --tw-gradient-to: rgb(59 130 246 / 0);
    --tw-gradient-stops: #3b82f6, #1e40af;
    --tw-gradient-to: #1e40af;
}

.bg-mono-circle {
    background-image: linear-gradient(to bottom right, #374151, #111827);
    --tw-gradient-from: #374151;
    --tw-gradient-to: rgb(55 65 81 / 0);
    --tw-gradient-stops: #374151, #111827;
    --tw-gradient-to: #111827;
}